.header{
  width: 100%;
  position: sticky;
  top: 0;
  height: 71px;
  top: 0;
  z-index: 4;
  background: var(--yellow-color);

}
.header__container{
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  .header__nav{
    display: flex;
  }
}

.logoContainer{
  padding-left: 64px;
  box-shadow: rgba(164, 164, 164, 0.3) 0px;
  .logo{
    width: 127px;
    height: 213px;
    object-fit: contain;
    background-color: white;    

  }
}
.nav__wrapper{
  width: 376px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  > * {
    color: #000;
    font-family: 'FiraGO', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    > * {
      color: inherit; 
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;

    }
  }
}
.menu__wrapper{
  width: 64px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.header__contacts{
  height: 100%;
  display: grid;
  justify-content: end;
  align-items: center;
  grid-template-columns: auto auto ;
  padding-right: 64px;
  p{
    font-family: 'FiraGO', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0%;
    color: white;
    cursor: pointer;

  }
  .header__contacts__icons{
  display: flex;
  gap: 24px;
  margin-right: 39px;
  a{
    display: flex;
    align-items: center;
  }
  .hamburger__icon{
    display: none;
  }
  }
  .header__contacts__icons > * {
    cursor: pointer;
  }
  
}

@media screen and (max-width:1600px) {
  .logoContainer{
    .logo{
       height: 150px;
    }
  }
}
@media screen and (max-width:1400px) {
  .header__contacts{
    padding-right: 0px;
    p{
      font-size: 16px;
    }
  }
  .logoContainer{
    padding-left: 0px;
    .logo{  
      width:100px;
    }
  }
 
}
@media screen and (max-width:1024px) {
  .nav__wrapper{
    display: none;
  }
  .header__contacts{
    p{
      display: none;
    }
 
  .header__contacts__icons{
    margin-right: 0px;
    .hamburger__icon{
      display: block;
    }
    img{
      display: none;
    }
  }
}

}